@import "tailwindcss";

@theme {
  --font-family-akira: var(--font-akira);
  --font-family-flood: var(--font-flood);
}

@layer base {
  h1 {
    font-family: var(--font-akira), sans-serif;
    @apply font-extrabold text-[200px];
  }

  h2 {
    font-family: var(--font-akira), sans-serif;
    @apply font-semibold text-[62px] mb-4;
  }

  h3 {
    font-family: var(--font-flood), sans-serif;
    @apply font-medium text-2xl md:text-3xl lg:text-4xl;
  }
  
}

body {
  font-family: var(--font-akira), sans-serif;
  @apply bg-white text-black;
}
.history-card { transition: transform .4s ease; }
.history-card.is-active {
  transform: scale(1.25) translateY(-20px);
  z-index:30;
}
